<nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">FAQ</a>
      <a href="#">How it works</a>
      <a href="#">Contact</a>
      <a href="checkout.html">Send Money</a>
      <a href="transfers.html">Manage Transfers</a>
      <a href="cv.html">My CV</a>

    </nav>